<p class="title">DETALLE Usuarios</p>
<div class="appDate">
    <app-date></app-date>
</div>
<p-card [ngStyle]="{position:'relative', background: 'white'}">
    <hr class="hrEdit" />
    <div>
        <div class="flex-1 buttonContainer editBottom">
            <span class="rightElement">
                <button pButton type="button" icon="pi pi-pencil" iconPos="left" class="roundbutton" (click)="editTypeBack('principal', detail)"></button>
            </span>
        </div>
        <div class="card-container green-container px-5 mb-5 mt">
            <div class="flex mt-5 mb-5">
                <div class="flex-1">
                    <label for="username1" class="block">Nombre</label>
                    <label class="info">{{detail ? detail.name : ''}}</label>
                </div>
                <div class="flex-1">
                    <label for="username1" class="block">Descripción</label>
                    <label class="info">{{detail ? detail.description : ''}}</label>
                </div>
                <div class="flex-1"></div>
                <div class="flex-1"></div>
            </div>
        </div>
    </div>
    <hr />
    <div class="lastButtons">
        <div class="flex card-container green-container p-0">
            <div class="flex-1">
            </div>
            <div class="flex-1">
            </div>
            <div class="flex-1 buttonContainer">
                <button pButton class="blueButton" (click)="backToTable()">Atrás</button>
            </div>
        </div>
    </div>
</p-card>
<p-messages [value]="msgs"></p-messages>
