<p class="title">CONFIGURACIÓN DE USUARIOS</p>
<div class="appDate">
    <app-date></app-date>
</div>
<p-card>
    <div class="flex card-container green-container p-0 cardHead">
        <div class="flex-1 ">
        </div>
    </div>
    <ng-container>
        <p-table [value]="usuarios" styleClass="p-datatable-striped" [paginator]="true" [rows]="rows">
            <ng-template pTemplate="header">
                <tr>
                    <th id="name" style="text-align: left !important;">Rut</th>
                    <th id="module" style="text-align: left !important;">nombre</th>
                    <th id="contract" style="text-align: left !important;">Cuenta</th>
                    <th id="instance" style="text-align: left !important;">Nacionalidad</th>

                </tr>
            </ng-template>

           <!-- <ng-template pTemplate="body" let-men>
                <tr>
                    <td style="text-align: left !important; padding-left: 5px;"><span class="detailLink" (click)="seeMensaje(men.id)">{{men.name}}</span></td>
                    <td style="text-align: left !important; padding-left: 5px;">{{men.moduleName}}</td>
                    <td style="text-align: left !important; padding-left: 5px;">{{men.contractName}}</td>
                    <td style="text-align: left !important; padding-left: 5px;">{{men.instance}}</td>
                </tr>
            </ng-template>-->
        </p-table>
    </ng-container>
</p-card>
