.title {
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #284773;
  margin-bottom: 0px;
  font-weight: bold;
}

.appDate {
  margin-bottom: 8vh;
}

.subTitle {
  color: #284773;
  font-weight: bold;
}

.date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  margin-top: 0px;
}

.inasistencia {
  width: 100px;
  height: 26px;
  background: white;
  border-radius: 3px;
  color: white;
  padding-top: 0.5vh;
  display: inline-block;
  text-align: center;
}

.stateTextP {
  font-size: small;
}

.stateTextI {
  font-size: small;
}

.stateTextV {
  font-size: small;
}

.states {
  text-align: -webkit-center;
}

.buttonContainer {
  text-align: right;
}

.detailLink {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.blueButton {
  background-color: #284773;
  border-color: #284773;
  margin-right: 2vh;
}

  .blueButton:enabled:hover {
      background-color: #284773;
      border-color: #284773;
  }

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #00D749 !important;
}
