<ng-template [ngIf]="this.isEdit === false" [ngIfElse]="editComponent">
    <p class="title">CREAR Notificacion</p>
</ng-template>
<ng-template #editComponent>
    <p class="title">Notificacion</p>
</ng-template>
<!--<div class="appDate">
      <app-date></app-date>
    </div>-->
<p-card>
    
    <div class="card section">
        <form [formGroup]="form" autocomplete="off">
            <div class="formgrid grid">
                <div class="field firstType">
                    <label for="title">Titulo</label>
                    <input type="text" id="titulo" pInputText formControlName="titulo" placeholder="Titulo" />
                </div>
                <div class="field firstTypeRut">
                    <label for="title">Cuerpo</label>
                    <input type="text" id="cuerpo" pInputText formControlName="cuerpo" placeholder="Cuerpo del mensaje" />
                </div>
                <div class="field firstTypeDate">
                    <label for="fechaprogramacion">Fecha Programacion</label>
                    <p-calendar [(ngModel)]="date" id="fechaprogramacion" pInputText formControlName="fechaprogramacion"
                        placeholder="fecha Creación">
                    </p-calendar>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field firstTypeRut">
                    <label for="id" class="block fw-title mg-bt-label">Tipo De Notificacion</label>
                    <p-dropdown  #dropFunction [options]="notificacion" formControlName="id" optionLabel="nombre"
                        optionValue="id" [placeholder]="'SELECCIONE'"
                        emptyMessage="No existen disponibles"></p-dropdown>
                </div>
                <div class="field firstTypeRut">
                    <label for="id_empresa" class="block fw-title mg-bt-label">Compania</label>
                    <p-dropdown (onChange)="usersByCompany($event)" #dropFunction [options]="compania" formControlName="idcompany" optionLabel="nom_empresa"
                        optionValue="id_empresa" [placeholder]="'SELECCIONE'"
                        emptyMessage="No existen disponibles"></p-dropdown>
                </div>
                <div class="field firstTypeRut">
                    <label for="id" class="block fw-title mg-bt-label">Enviar a</label>
                    <p-dropdown #dropFunction [options]="trabajadores" formControlName="idtrabajador" optionLabel="run"
                        optionValue="id" [placeholder]="'SELECCIONE'"
                        emptyMessage="No existen disponibles"></p-dropdown>
                </div>
            </div>
        </form>
    </div>
    <hr />
    <div>
        <div class="flex card-container green-container p-0">
            <div class="flex-1">
            </div>
            <div class="flex-1">
            </div>
            <div class="flex-1 buttonContainer">
                <button pButton class="redButton" (click)="backToTable()">Cancelar</button>
                <button pButton class="blueButton" (click)="sendFormulario()">Guardar</button>
            </div>
        </div>
    </div>
</p-card>