.nav-item {
  display: flex;
  align-items: center;
  margin-left: 1em;
  background: white;
}
.bg-light{
  background: #001A41 !important;
}
.navbar-nav{
color: white !important;
}
#FontColor{
  color: white !important;
}
