<ng-template [ngIf]="this.isEdit === false" [ngIfElse]="editComponent">
  <p class="title">CREAR USUARIO</p>
</ng-template>
<ng-template #editComponent>
  <p class="title">EDITAR USUARIO</p>
</ng-template>
<div class="appDate">
  <app-date></app-date>
</div>
<p-card>
  <hr />
  <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
  <form [formGroup]="form" autocomplete="off">
    <div class="flex my-5">
      <div class="flex-1">
          <label for="title">Nombre</label>
          <input type="text" id="nom_usuario" pInputText formControlName="nom_usuario" placeholder="Nombre" />
          <span class="form-text text-danger" *ngIf="campoInvalid('nom_usuario')">
            <p-message severity="error" text="Campo requerido"></p-message>
          </span>
      </div>
      <div class="flex-1">
        <div class="field">
              <label for="title">Rut</label>
              <input type="text" id="run_usuario" pInputText formControlName="run_usuario" placeholder="Rut" />
              <span class="form-text text-danger" *ngIf="campoInvalid('run_usuario')">
                <p-message severity="error" text="Campo requerido"></p-message>
              </span>
        </div>
      </div>
      <div class="flex-1">
        <div class="field">
              <div class="row field col-12 md:col-3">
                <label for="use1" class="block fw-title mg-bt-label">Compañia </label>
                <p-dropdown #dropCompany [options]="compania" [disabled]="rut || block" formControlName="idempresa"
                  optionLabel="nom_empresa" optionValue="id_empresa" [placeholder]="'SELECCIONE COMPAÑIA'"
                  emptyMessage="No existen compañias disponibles"></p-dropdown>
                <span class="form-text text-danger" *ngIf="campoInvalid('id_empresa')">
                </span>
              </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="field">
              <label for="title">Numero Telefonico</label>
              <input type="text" id="fono_usuario" pInputText formControlName="fono_usuario"
                placeholder="Numero Telefonico" />
              <span class="form-text text-danger" *ngIf="campoInvalid('fono_usuario')">
                <p-message severity="error" text="Campo requerido"></p-message>
              </span>
        </div>
      </div>
    </div>
    <div class="flex my-5">
      <div class="flex-1">
        <div class="field">
              <div class="row field col-12 md:col-3">
                <label for="use1" class="block fw-title mg-bt-label">Tipo Contrato </label>
                <p-dropdown #dropContract [options]="contrato" [disabled]="rut || block" formControlName="tipo_contrato"
                  optionLabel="contract" optionValue="contract" [placeholder]="'SELECCIONE CONTRATO'"
                  emptyMessage="No existen contratos disponibles"></p-dropdown>
                <span class="form-text text-danger" *ngIf="campoInvalid('contract')">
                </span>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="field">
              <div class="row field col-12 md:col-3">
                <label for="use1" class="block fw-title mg-bt-label">Funcion </label>
                <p-dropdown #dropFunction [options]="function" formControlName="idtipocuenta" optionLabel="nom_fun"
                  optionValue="id_fun" [placeholder]="'SELECCIONE FUNCION'"
                  emptyMessage="No existen funciones disponibles"></p-dropdown>
                <span class="form-text text-danger" *ngIf="campoInvalid('id_fun')">
                </span>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="field">
              <div class="row field col-12 md:col-3">
                <label for="use1" class="block fw-title mg-bt-label">Nacionalidad </label>
                <p-dropdown #dropNacionalidad [options]="nacionalidad" [disabled]="rut || block"
                  formControlName="nacionalidad" optionLabel="contract" optionValue="contract"
                  [placeholder]="'SELECCIONE NACIONALIDAD'"
                  emptyMessage="No existen NACIONALIDADES disponibles"></p-dropdown>
                <span class="form-text text-danger" *ngIf="campoInvalid('contract')">
                </span>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="field">
              <label for="title">Correo Electronico</label>
              <input type="text" id="correo" pInputText formControlName="correo" placeholder="correo" />
              <span class="form-text text-danger" *ngIf="campoInvalid('correo')">
                <p-message severity="error" text="Campo requerido"></p-message>
              </span>
        </div>
      </div>
    </div>
  </form>
  <hr />
  <div>
    <div class="flex card-container green-container p-0">
      <div class="flex-1">
      </div>
      <div class="flex-1">
      </div>
      <div class="flex-1 buttonContainer">
        <button pButton class="redButton" (click)="backToTable()">Cancelar</button>
        <button pButton class="blueButton" (click)="sendFormulario()">Guardar</button>
      </div>
    </div>
  </div>
</p-card>
