<ng-template [ngIf]="this.isEdit === false" [ngIfElse]="editComponent">
  <p class="title">CREAR USUARIO</p>
</ng-template>
<ng-template #editComponent>
  <p class="title">EDITAR USUARIO</p>
</ng-template>
<div class="appDate">
  <app-date></app-date>
</div>
<p-card>
  <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
  <div class="card section">
    <form [formGroup]="form" autocomplete="off">
      <div class="formgrid grid">
        <div class="field firstType">
          <label for="title">Nombre</label>
          <input type="text" id="nom_usuario" pInputText formControlName="nom_usuario" placeholder="Nombre" />
        </div>
        <div class="field firstType">
          <label for="title">Rut</label>
          <input type="text" id="run_usuario" pInputText formControlName="run_usuario" placeholder="Rut" />
        </div>
        <div class="flex-1">
          <div class="field">
          <label for="id_empresa" class="block fw-title mg-bt-label">Compañia </label>
          <p-dropdown #dropCompany [options]="compania" formControlName="compania" optionLabel="nom_empresa"
            optionValue="id_empresa" [placeholder]="'SELECCIONE'"
            emptyMessage="No existen compañias disponibles"></p-dropdown>
          </div>
        </div>
        <div class="field firstType">
          <label for="fono_usuario">Numero Telefonico</label>
          <input type="text" id="fono_usuario" pInputText formControlName="fono_usuario"
            placeholder="Numero Telefonico" />
        </div>
      </div>
      <div class="formgrid grid">
        <div class="flex-1">
          <div class="field">
            <label for="contract" class="block fw-title mg-bt-label">Tipo Contrato </label>
            <p-dropdown #dropContract [options]="contrato" formControlName="tipo_contrato" optionLabel="contract"
              optionValue="contract" [placeholder]="'SELECCIONE'"
              emptyMessage="No existen contratos disponibles"></p-dropdown>
          </div>
        </div>
        <div class="flex-1">
          <div class="field">
            <label for="id_fun" class="block fw-title mg-bt-label">Funcion </label>
            <p-dropdown #dropFunction [options]="function" formControlName="funcion" optionLabel="nom_fun"
              optionValue="id_fun" [placeholder]="'SELECCIONE'"
              emptyMessage="No existen funciones disponibles"></p-dropdown>
          </div>
        </div>
        <div class="flex-1">
          <div class="field">
            <label for="contract" class="block fw-title mg-bt-label">Nacionalidad </label>
            <p-dropdown #dropNacionalidad [options]="nacionalidades" formControlName="nacionalidad"
              optionLabel="contract" optionValue="contract" [placeholder]="'SELECCIONE'"
              emptyMessage="No existen NACIONALIDADES disponibles"></p-dropdown>
          </div>
        </div>
        <div class="field firstType">
          <label for="correo">Correo Electronico</label>
          <input type="text" id="correo" pInputText formControlName="correo" placeholder="correo" />
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div>
    <div class="flex card-container green-container p-0">
      <div class="flex-1">
      </div>
      <div class="flex-1">
      </div>
      <div class="flex-1 buttonContainer">
        <button pButton class="redButton" (click)="backToTable()">Cancelar</button>
        <button pButton class="blueButton" (click)="sendFormulario()">Guardar</button>
      </div>
    </div>
  </div>
</p-card>