<div class="popup">
    <div class="popup-content">
        <div class="popup-header">
            <h2>Metodo De Pago</h2>
            <button class="close-button" (click)="close()">Cerrar</button>
        </div>
        <div class="popup-body">
            <form [formGroup]="formb" autocomplete="off">
                <div class="formgrid grid">
                    <div class="field firstType">
                        <label for="title">Id Transaccion</label>
                        <input type="text" id="idTransaccion" pInputText formControlName="idTransaccion"
                            placeholder="idTransaccion" />
                    </div>
                    <div class="field firstType">
                        <label for="title">Detalle</label>
                        <input type="text" id="Detalle" pInputText formControlName="Detalle" placeholder="Detalle" />
                    </div>
                    <div class="field firstType">
                        <label for="title">Monto</label>
                        <input type="text" id="Monto" pInputText formControlName="Monto" placeholder="Monto" />
                    </div>
                    <button class="action-button" (click)="confirmAction()">Facturar</button>
                </div>
            </form>
        </div>
    </div>
</div>