<p class="title">CONFIGURACIÓN DE VISITAS</p>
<!--<div class="appDate">
      <app-date></app-date>
    </div>-->
<p>&nbsp;</p>
<p-card>
  <div class="flex card-container green-container p-0 cardHead">
    <div class="flex-1 ">
      VISITAS CREADAS
    </div>
    <div class="row">
      <div class="flex-1 buttonContainer">
        <div class="col">
          <button pButton class="blueButton" (click)="Crear()">Crear Visitas</button>
          <ng-container *ngIf="showLoader">
            <p-dropdown [options]="sortOptions" placeholder="{{rows}}" (onChange)="onSortChange($event)"
              styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <P>&nbsp;</P>
  <ng-container *ngIf="!showLoader">
    <h4>CARGANDO DATOS...</h4>
    <p-progressBar mode="indeterminate" [style]="{'height': '16px'}"></p-progressBar>
  </ng-container>
  <ng-container>
    <p-table [value]="usuarios" styleClass="p-datatable-striped" [paginator]="true" [rows]="rows">
      <ng-template pTemplate="header">
        <tr>
          <th id="name" style="text-align: left !important;">id</th>
          <th id="module" style="text-align: left !important;">Profesionalacargo</th>
          <th id="module" style="text-align: left !important;">Company</th>
          <th id="module" style="text-align: left !important;">Tipo De Visita</th>
          <th id="module" style="text-align: left !important;">Descripción</th>
          <th id="module" style="text-align: left !important;">Fecha De Programacion</th>
          <th id="contract" style="text-align: left !important;">Hora De Programacion</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-men>
        <tr>
          <td style="text-align: left !important; padding-left: 5px;"><span class="detailLink"
              (click)="seeEditar(men.run_usuario)">{{men.id}}</span></td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.idprofesionalacargo}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.idcompany}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.tipoVisita}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.descripcion}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.fechaprogramacion}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.horaprogramacion}}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</p-card>
<p>&nbsp;</p>