* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

::ng-deep .p-dropdown {
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #284773 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s !important;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #00D749 !important;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  width: 2.9rem;
}

::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  border: 1px solid #F2F2F2;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  width: 1.6rem;
  height: 1.6rem;
  left: 0.3rem;
  top: 0.5rem;
}

::ng-deep .p-inputswitch.p-inputswitch .p-inputswitch-slider:before {
  border: 1px solid #F2F2F2;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  width: 1.6rem;
  height: 1.6rem;
  left: 0rem;
  top: 0.5rem;
}

::ng-deep .p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: 0 0 0 0.2rem #F2F2F2;
}

::ng-deep .p-inputswitch {
  height: 1.5rem;
}

::ng-deep .p-datatable-wrapper {
  font-size: 0.8rem;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
  background: #D5DEEF;
  text-align: center;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td:first-of-type {
  text-align: left;
}

::ng-deep .p-inputtext {
  font-size: 1rem;
  color: #495057;
  background: transparent;
  padding: 0.5rem 0.5rem;
  border: none;
  border-bottom: 1px solid #828282;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: none;
}

::ng-deep .p-inputtext:enabled:focus {
  font-size: 1rem;
  color: #495057;
  background: transparent;
  padding: 0.5rem 0.5rem;
  border: none;
  box-shadow: none;
}

::ng-deep .p-calendar-w-btn>.p-button {
  color: #5E6871;
  background: transparent;
  border: none;
  border-bottom: 1px solid #828282;
  padding: 0.5rem 0.5rem;
  box-shadow: none;
}

::ng-deep .p-calendar-w-btn>.p-button:hover {
  color: #284773;
  background: transparent;
  border: none;
  border-bottom: 1px solid #828282;
  padding: 0.5rem 0.5rem;
  box-shadow: none;
}

::ng-deep .p-inputnumber>.p-inputnumber-input {
  border: 1px solid #284773 !important;
  margin: 0 10px;
  width: 45px;
}

::ng-deep .p-inputnumber>.p-inputnumber-button {
  background: transparent;
  border: 1px solid #284773;
  border-radius: 0;
  color: #284773;
}

::ng-deep .p-inputnumber>.p-inputnumber-button:hover {
  background: #284773 !important;
  color: white !important;
}

.container-number {
  margin: 7px 20px 0 0;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  text-align: center !important;
}

::ng-deep .p-datepicker-other-month>.p-disabled {
  display: none !important;
}

.form {
  display: flex;
}

::ng-deep .p-tree {
  padding: 0 0 0 1rem;
}

::ng-deep .p-treenode-children {
  padding: 0 !important;
}

::ng-deep .p-treenode-content:first-of-type {
  padding: 0 !important;
}

::ng-deep .p-treenode-label {
  margin-right: auto;
}

::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox {
  display: none;
}

::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content {
  flex-direction: row-reverse;
  padding-left: 16px;
}

::ng-deep .p-tree .p-treenode-children>p-treenode>li>ul>p-treenode>li>div>.p-checkbox {
  display: inherit !important;
}

::ng-deep .p-tree .p-treenode-children>p-treenode>li>ul>p-treenode>li>div>.p-tree-toggler {
  display: none;
}

::ng-deep p-tree .p-tree .p-treenode-children>p-treenode>li>ul>p-treenode>li>div>.p-tree-toggler {
  display: none;
}

::ng-deep .mg-bottom-mob>p-tree>div {
  border: 1px solid #284773;
  position: relative;
}

::ng-deep .mg-bottom-mob>p-tree>div>div>ul>p-treenode>li>ul {
  position: absolute;
  z-index: 100;
  background: #ffffff;
  top: 38px;
  right: 25px;
  width: 20rem;
  min-height: 400px;
  border-radius: 10px;
  box-shadow: 5px 6px 27px 1px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.51);
}

::ng-deep .mg-bottom-mob>p-tree>div>div>ul>p-treenode>li>ul>p-treenode>li {
  border-bottom: .5px solid #afafaf;
}

::ng-deep .mg-bottom-mob>p-tree>div>div>ul>p-treenode>li>ul>p-treenode>li>div>span {
  padding-left: 16px;
}

::ng-deep .mg-bottom-mob>p-tree>div>div>ul>p-treenode>li>ul>p-treenode {
  padding: 1rem !important;
}

::ng-deep .mg-bottom-mob>p-tree>div>div>ul>p-treenode>li>ul>p-treenode>li>ul>p-treenode {
  padding: 1rem !important;
}

::ng-deep .mg-bottom-mob>p-tree>div>div>ul>p-treenode>li>ul>p-treenode>li>ul>p-treenode>li>div>span {
  padding-left: 16px !important;
}
