@import "../../assets/partials/variables";

#wrapper {
  overflow-x: hidden;
  height: 100vh !important;
}

#page-content-wrapper {
  min-width: 100vw;
  height: 100% !important;
  background-color: $TertiaryColor !important;
}

#page-content-component{
  padding: 1%;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}
