@import "../../../assets/partials/variables";


.custom-icon {
  background-image: '../../../assets/Icon/helmet-safety-solid.svg';
}
#logo-header-container {
  padding: 2vh;
  background-color: #01242A !important;
}
.bacGroundCollor{
  background: #01242A !important;
}

#sidebar-wrapper {
  min-height: 100%;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  background-color: $PrimaryColor !important;

}


#sidebar-wrapper .sidebar-heading {

  font-size: 1.2rem;


}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding-left: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: none;
}

.list-group-item.active{
  border-left: 5px solid white ;
  background-color: rgba($color: $HighLightColor, $alpha: 0.6)  !important;
  border-top: none;
  border-right: none;
  border-bottom: none;

}

#sidebar-wrapper .list-group {
  width: 15rem;

  li {
    cursor: pointer;
    background-color: $PrimaryColor !important;
    color: white;

  }

  button{
    cursor: pointer;
    background-color: $PrimaryColor !important;
    color: white;

  }

  li.nav-item {
    &:hover {
      background-color: rgba($color: $HighLightColor, $alpha: 0.6)  !important;
    }

  }

  a{
    width: 100%;
  }
}





#sidebar-wrapper.toggled {
  margin-left: 0;
}



@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;

  }

  #sidebar-wrapper.toggled {
    margin-left: -15rem;

  }
}



