<div class="bacGroundCollor" id="sidebar-wrapper">
  <div id="logo-header-container">
    <img src="" width="200vh">
  </div>


  <ul class="list-group list-group-flush">
    <ng-template ngFor let-item [ngForOf]="menuArray">
      <div *ngIf="item.submenu; else elseBlock">


        <div>
          <button collapsible type="button" class="collapsible list-group-item-action bg-light">
            <img src="{{item.icon}}"/>
            {{item.text}}
          </button>
          <div class="content">


            <li *ngFor="let submen of item.submenu; let i = index"
              class="list-group-item list-group-item-action bg-light collapsible nav-item" routerLink={{submen.link}}
              routerLinkActive="active" role="item" (click)="selectedItem = i + item.text; "
              [ngClass]="{'active': selectedItem === i + item.text}">
              {{submen.text}}

            </li>



          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <li class="list-group-item list-group-item-action bg-light nav-item" routerLink={{item.link}}
          routerLinkActive="active" role="item" (click)="selectedItem =item.text; "
          [ngClass]="{'active': selectedItem === item.text}">
          <i class="pi {{item.icon}}"></i>
          {{item.text}}
        </li>
      </ng-template>
    </ng-template>
  </ul>
</div>
