<p class="title">CONFIGURACIÓN DE USUARIOS</p>
<div class="appDate">
  <app-date></app-date>
</div>
<p>&nbsp;</p>
<p-card>
  <div class="flex card-container green-container p-0 cardHead">
    <div class="flex-1 ">
      USUARIOS CREADOS
    </div>
    <div class="row">
      <div class="flex-1 buttonContainer">
        <div class="col">
          <button pButton class="blueButton" (click)="Crear()">Crear Usuario</button>
          <ng-container *ngIf="showLoader">
            <p-dropdown [options]="sortOptions" placeholder="{{rows}}" (onChange)="onSortChange($event)"
              styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <P>&nbsp;</P>
  <ng-container *ngIf="!showLoader">
    <h4>CARGANDO DATOS...</h4>
    <p-progressBar mode="indeterminate" [style]="{'height': '16px'}"></p-progressBar>
  </ng-container>
  <ng-container>
    <p-table [value]="usuarios" styleClass="p-datatable-striped" [paginator]="true" [rows]="rows">
      <ng-template pTemplate="header">
        <tr>
          <th id="name" style="text-align: left !important;">Rut</th>
          <th id="module" style="text-align: left !important;">Nombre</th>
          <th id="module" style="text-align: left !important;">Compañia</th>
          <th id="module" style="text-align: left !important;">FUNCIÓN</th>
          <th id="module" style="text-align: left !important;">TIPO CONTRATO</th>
          <th id="contract" style="text-align: left !important;">F/H CREACION</th>
          <th id="instance" style="text-align: left !important;">ESTADO</th>
          <th id="instance" style="text-align: left !important;">ACCIÓN</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-men>
        <tr>
          <td style="text-align: left !important; padding-left: 5px;"><span class="detailLink"
              (click)="seeEditar(men.run_usuario)">{{men.run_usuario}}</span></td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.nom_usuario}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.empresa}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.tipocuenta}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.tipo_contrato}}</td>
          <td style="text-align: left !important; padding-left: 5px;">{{men.fechacreacion}}</td>
          <td class="states">
            <div [ngStyle]="{'background-color':men.haxColor} " class="inasistencia"><span class="stateTextP">{{men.eliminado| uppercase}}</span></div>
        </td>
          <td style="text-align: center !important;">
            <p-inputSwitch [(ngModel)]="!men.isDisabled"
              (click)="confirmAction(men.run_usuario, men.nom_usuario, men.isDisabled)">
            </p-inputSwitch>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</p-card>
<p>&nbsp;</p>
