.Position {
  position: absolute;
  top: 40%;
  left: center !important;
  right: 50%;
}
.Textstyle {
  position: absolute;
  top: 20%;
  left: center !important;
  right: 40%;
}
.Imput{
  border-radius: 10px;
  width: 250%;
  height: 40%;
}

.blueButton {
  background-color: #001A41;
  border-color: #001A41;
  margin-right: 2vh;
  border-radius: 5px;
  position: absolute;
  top: 60%;
  left: center !important;
  right: 40%;
  width: 200px;
  height: 40px;
  color: white !important;
  font-family: 'Roboto';font-size: 22px;
}

.BienvenidoStyle {
  position: absolute;
  top: 20%;
  left: 33% !important;
  right: 70% !important;
  font-size: 100px;
  color: white !important;
}

.SubText {
  position: absolute;
  top: 30%;
  font-size: 50px;
  left: 30% !important;
  color: white !important;
}
