<body class="login">
    <div class="logo">
        <img src="/assets/images/{{logo}}" alt="image">
    </div>
    <div class="formBlock">
        <form class="custom-form" method="post">
            <input type="email" [(ngModel)]="email" name="email" placeholder="Nombre de usuario" required="required" />
            <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required="required" />
            <button type="submit" (click)="login()"><span class="buttonText">Ingresar</span></button>
        </form>
    </div>
</body>
<app-toast></app-toast>