<ng-template [ngIf]="this.isEdit === false" [ngIfElse]="editComponent">
  <p class="title">CREAR EMPRESA</p>
</ng-template>
<ng-template #editComponent>
  <p class="title">EDITAR EMPRESA</p>
</ng-template>

<!--<div class="appDate">
      <app-date></app-date>
    </div>-->
<p-card>

  <div class="card section">
    <form [formGroup]="form" autocomplete="off">
      <div class="formgrid grid">
        <div class="field firstType">
          <label for="title">Nombre</label>
          <input type="text" id="nom_empresa" pInputText formControlName="nom_empresa" placeholder="Nombre" />
        </div>
        <div class="field firstType">
          <label for="rut">Rut</label>
          <input type="text" id="rut" pInputText formControlName="rut" />
        </div>
        <div class="field firstType">
          <label for="fechaFinContrato">Fecha Fin Contrato</label>
          <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" id="fechaFinContrato" pInputText
            formControlName="fechaFinContrato" placeholder="fecha Creación">
          </p-calendar>
        </div>
        <div class="field firstType">
          <label for="id_region" class="block fw-title mg-bt-label">Region </label>
          <p-dropdown (onChange)="cambioRegion($event)" #dropFunction [options]="region" formControlName="region"
            optionLabel="nom_reg" optionValue="id_region" [placeholder]="'SELECCIONE'"
            emptyMessage="No existen funciones disponibles"></p-dropdown>
        </div>
        <div class="field firstType">
          <label for="id_comuna" class="block fw-title mg-bt-label">Comuna </label>
          <p-dropdown #dropFunction [options]="comuna" formControlName="comuna" optionLabel="nombre_comuna"
            optionValue="id_comuna" [placeholder]="'SELECCIONE'"
            emptyMessage="No existen funciones disponibles"></p-dropdown>
        </div>
        <div class="field firstType">
          <label for="direccion" class="block fw-title mg-bt-label">Direccion</label>
          <input type="text" id="direccion" pInputText formControlName="direccion" placeholder="direccion" />
        </div>
        <div class="field firstType">
          <label for="numeroTelefonico">Número Teléfono</label>
          <input type="text" id="numeroTelefonico" pInputText formControlName="numeroTelefonico" />
        </div>
        <div class="field firstType">
          <label for="actividadEconomica">Actividad Económica</label>
          <input type="text" id="actividadEconomica" pInputText formControlName="actividadEconomica" />
        </div>
        <div class="field firstType">
          <label for="idPropiedadEmpresa">Propiedad de la Empresa</label>
          <p-dropdown  #dropFunction [options]="propiedad" formControlName="propiedad"
            optionLabel="nombre" optionValue="id" [placeholder]="'SELECCIONE'"
            emptyMessage="No existen funciones disponibles"></p-dropdown>
        </div>
        <div class="field firstType">
          <label for="idTipoDeEmpresa">Tipo de empresa</label>
          <p-dropdown  #dropFunction [options]="tipoE" formControlName="tipoE"
            optionLabel="nombre" optionValue="id" [placeholder]="'SELECCIONE'"
            emptyMessage="No existen funciones disponibles"></p-dropdown>
        </div>

        <div>
          <div class="a">
            <label for="correoEmpresa">N° Trabajadores</label>
          </div>
          <ng-template [ngIf]="this.isEdit === false" [ngIfElse]="editPeople">
            <div class="b">
              <label style="margin-right: 10px;">Hombres</label>
              <label>Mujeres</label>
              <div class="b">
                <input class="Cantidad" style="margin-right: 35px;" type="text" id="trabajadoresHombres" pInputText
                  formControlName="trabajadoresHombres" />

                <input class="Cantidad" type="text" id="trabajadoresMujeres" pInputText
                  formControlName="trabajadoresMujeres" />
              </div>
            </div>
          </ng-template>
          <ng-template #editPeople>
            <div class="b">
              <label style="margin-right: 10px;">Hombres</label>
              <label>Mujeres</label>
              <div class="b">
                <input class="Cantidad" style="margin-right: 35px;" type="text" id="trabajadoresHombres" pInputText
                  formControlName="trabajadoresHombres" disabled />

                <input class="Cantidad" type="text" id="trabajadoresMujeres" pInputText
                  formControlName="trabajadoresMujeres" disabled />
              </div>
            </div>
          </ng-template>
        </div>

        <div class="field firstType">
          <label for="correo">Correo Electronico</label>
          <input type="text" id="correo" pInputText formControlName="correo" placeholder="correo" />
        </div>
      </div>
    </form>
  </div>
  <div>&nbsp;</div>
  <ng-template [ngIf]="this.isEdit === true">
    <div class="card section">
      <div class="subTitle">
        Calcular Operaciones Realizadas por Mes
      </div>
      <div>&nbsp;</div>
      <form [formGroup]="form" autocomplete="off">
        <div class="formgrid grid">
          <div class="field firstType">
            <label for="mes">Fecha Desde</label>
            <p-dropdown (onChange)="checkDatesOperation($event)" #dropFunction [options]="meses"
              formControlName="opstartDate" optionLabel="mes" optionValue="id" [placeholder]="'SELECCIONE'"
              emptyMessage="No existen funciones disponibles"></p-dropdown>
          </div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div class="field firstType">
            <label for="totalAccidente">Cantidad de Accidentes</label>

            <input type="text" [(ngModel)]="totalAccidente" id="totalAccidente" pInputText
              formControlName="totalAccidente" />

          </div>
          <div class="field firstType">
            <label for="totalCharla">Cantidad de Charla</label>

            <input type="text" [(ngModel)]="totalCharla" id="totalCharla" pInputText formControlName="totalCharla" />

          </div>
          <div class="field firstType">
            <label for="totalVisita">Cantidad de Visitas</label>

            <input type="text" [(ngModel)]="totalVisita" id="totalVisita" pInputText formControlName="totalVisita" />

          </div>
          <div class="field firstType">
            <label for="totalAsesoria">Cantidad de Asesorias</label>

            <input type="text" [(ngModel)]="totalAsesoria" id="totalAsesoria" pInputText
              formControlName="totalAsesoria" />

          </div>
          <div class="field firstType">
            <label for="totalAsesoriaEspecial">Cantidad de Asesorias especiales</label>

            <input type="text" [(ngModel)]="totalAsesoriaEspecial" id="totalAsesoriaEspecial" pInputText
              formControlName="totalAsesoriaEspecial" />

          </div>
          <div class="field firstType">
            <label for="totalPersonasExtra">Cantidad de Personas extras</label>
            <input type="text" [(ngModel)]="totalPersonasExtra" id="totalPersonasExtra" pInputText
              formControlName="totalPersonasExtra" />
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <div>&nbsp;</div>
  <div class="card section">
    <div class="subTitle">
      Precios por Actividad en CLP
    </div>
    <div>&nbsp;</div>
    <form [formGroup]="form" autocomplete="off">
      <div class="formgrid grid">
        <div class="field firstType">
          <label for="costobase">Costo Base</label>

          <input type="text" id="costobase" pInputText formControlName="costobase" />

        </div>
        <div class="field firstType">
          <label for="costoporaccidente">Costo por Accidente</label>

          <input type="text" id="costoporaccidente" pInputText formControlName="costoporaccidente" />

        </div>
        <div class="field firstType">
          <label for="costoporcharla">Costo por Charla</label>

          <input type="text" id="costoporcharla" pInputText formControlName="costoporcharla" />

        </div>
        <div class="field firstType">
          <label for="costoporvisita">Costo por Visita</label>

          <input type="text" id="costoporvisita" pInputText formControlName="costoporvisita" />

        </div>
        <div class="field firstType">
          <label for="costoporasesoria">Costo por Asesoria</label>

          <input type="text" id="costoporasesoria" pInputText formControlName="costoporasesoria" />

        </div>
        <div class="field firstType">
          <label for="costoporasesoriaespecial">Costo Por Asesoria Especial</label>

          <input type="text" id="costoporasesoriaespecial" pInputText formControlName="costoporasesoriaespecial" />

        </div>
        <div class="field firstType">
          <label for="costoporpersonaextra">Costo por Persona Extra</label>
          <input type="text" id="costoporpersonaextra" pInputText formControlName="costoporpersonaextra" />
        </div>
        <div class="field firstType">
          <label for="cantidadDeEmpleadosPorContrato">Cantidad de Empleados por Contrato</label>

          <input type="text" id="cantidadDeEmpleadosPorContrato" pInputText
            formControlName="cantidadDeEmpleadosPorContrato" />

        </div>
      </div>
    </form>
  </div>
  <div>&nbsp;</div>
  <ng-template [ngIf]="this.isEdit === true">
    <div class="card section">
      <div class="subTitle">
        Facturar
      </div>
      <div>&nbsp;</div>
      <form [formGroup]="form" autocomplete="off">
        <div class="formgrid grid">
          <div class="field firstType">
            <label for="mes">Mes</label>
            <p-dropdown (onChange)="checkDates($event)" #dropFunction [options]="meses" formControlName="startDate"
              optionLabel="mes" optionValue="id" [placeholder]="'SELECCIONE'"
              emptyMessage="No existen funciones disponibles"></p-dropdown>
          </div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div class="field firstType">
            <label for="costoTotal">Costo Total</label>

            <input type="text" [(ngModel)]="costoTotal" id="costoTotal" pInputText formControlName="costoTotal" />

          </div>
          <div class="field firstType">
            <label for="costoTotalAccidente">Costo Total Accidente</label>

            <input type="text" [(ngModel)]="costoTotalAccidente" id="costoTotalAccidente" pInputText
              formControlName="costoTotalAccidente" />

          </div>
          <div class="field firstType">
            <label for="costoTotalCharla">Costo Total Charla</label>

            <input type="text" [(ngModel)]="costoTotalCharla" id="costoTotalCharla" pInputText
              formControlName="costoTotalCharla" />

          </div>
          <div class="field firstType">
            <label for="costoTotalVisita">Costo Total Visita</label>

            <input type="text" [(ngModel)]="costoTotalVisita" id="costoTotalVisita" pInputText
              formControlName="costoTotalVisita" />

          </div>
          <div class="field firstType">
            <label for="costoTotalAsesoria">Costo Total Asesoria</label>

            <input type="text" [(ngModel)]="costoTotalAsesoria" id="costoTotalAsesoria" pInputText
              formControlName="costoTotalAsesoria" />

          </div>
          <div class="field firstType">
            <label for="costoTotalAsesoriaEspecial">Costo Total Asesoria Especial</label>

            <input type="text" [(ngModel)]="costoTotalAsesoriaEspecial" id="costoTotalAsesoriaEspecial" pInputText
              formControlName="costoTotalAsesoriaEspecial" />

          </div>
          <div class="field firstType">
            <label for="costoTotalPersonasExtra">Costo Total Persona Extra</label>
            <input type="text" [(ngModel)]="costoTotalPersonasExtra" id="costoTotalPersonasExtra" pInputText
              formControlName="costoTotalPersonasExtra" />
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <hr />
  <div>
    <div class="flex card-container green-container p-0">
      <div class="flex-1">
      </div>
      <div class="flex-1">
      </div>
      <div class="flex-1 buttonContainer">
        <button pButton class="redButton" (click)="backToTable()">Cancelar</button>
        <button pButton class="blueButton" (click)="sendFormulario()">Guardar</button>
      </div>
    </div>
  </div>
</p-card>