<ng-template [ngIf]="this.isEdit === false" [ngIfElse]="editComponent">
  <p class="title">CREAR EMPRESA</p>
</ng-template>
<ng-template #editComponent>
  <p class="title">EDITAR EMPRESA</p>
</ng-template>
<div class="appDate">
  <app-date></app-date>
</div>
<p-card>
  <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
  <div class="card section">
    <form [formGroup]="form" autocomplete="off">
      <div class="formgrid grid">
        <div class="field firstType">
          <label for="title">Nombre</label>
          <input type="text" id="nom_empresa" pInputText formControlName="nom_empresa" placeholder="Nombre" />
        </div>
        <div class="field firstType">
          <label for="rut">Rut</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editRut">
            <input type="text" id="rut" pInputText formControlName="rut" placeholder="Rut"/>
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="fechaFinContrato">Fecha Fin Contrato</label>
          <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" id="fechaFinContrato" pInputText formControlName="fechaFinContrato"
            placeholder="fecha Creación">
          </p-calendar>
        </div>
        <div class="field firstType">
          <label for="id_region" class="block fw-title mg-bt-label">Region </label>
          <p-dropdown (onChange)="cambioRegion($event)" #dropFunction [options]="region" formControlName="region"
            optionLabel="nom_reg" optionValue="id_region" [placeholder]="'SELECCIONE'"
            emptyMessage="No existen funciones disponibles"></p-dropdown>
        </div>
        <div class="field firstType">
          <label for="id_comuna" class="block fw-title mg-bt-label">Comuna </label>
          <p-dropdown #dropFunction [options]="comuna" formControlName="comuna" optionLabel="nombre_comuna"
            optionValue="id_comuna" [placeholder]="'SELECCIONE'"
            emptyMessage="No existen funciones disponibles"></p-dropdown>
        </div>
        <div class="field firstType">
          <label for="direccion" class="block fw-title mg-bt-label">Direccion</label>
          <input type="text" id="direccion" pInputText formControlName="direccion" placeholder="direccion" />
        </div>
        <div class="field firstType">
          <label for="numeroTelefonico">Número Teléfono</label>
          <input type="text" id="numeroTelefonico" pInputText formControlName="numeroTelefonico"
            placeholder="Numero Telefonico" />
        </div>
        <div class="field firstType">
          <label for="actividadEconomica">Actividad Económica</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="actividadEconomica" pInputText formControlName="actividadEconomica"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="idPropiedadEmpresa">Propiedad de la Empresa</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="idPropiedadEmpresa" pInputText formControlName="idPropiedadEmpresa"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="idTipoDeEmpresa">Tipo de empresa</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="idTipoDeEmpresa" pInputText formControlName="idTipoDeEmpresa"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div>
          <div class="a">
            <label for="correoEmpresa">N° Trabajadores</label>
          </div>
          <div class="b">
            <label style="margin-right: 10px;">Hombres</label>
            <label>Mujeres</label>
            <div class="b">
              <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editName">
                <input class="Cantidad" style="margin-right: 35px;" type="text" id="trabajadoresHombres" pInputText
                  formControlName="trabajadoresHombres" disabled />
              </ng-template>

              <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editName">
                <input class="Cantidad" type="text" id="trabajadoresMujeres" pInputText
                  formControlName="trabajadoresMujeres" disabled />
              </ng-template>
            </div>
          </div>
        </div>
        <div class="field firstType">
          <label for="correo">Correo Electronico</label>
          <input type="text" id="correo" pInputText formControlName="correo" placeholder="correo" />
        </div>
      </div>
    </form>
  </div>
  <div>&nbsp;</div>
  <div class="card section">
    <div class="subTitle">
      Precios por Actividad en CLP
    </div>
    <div>&nbsp;</div>
    <form [formGroup]="form" autocomplete="off">
      <div class="formgrid grid">
        <div class="field firstType">
          <label for="costobase">Costo Base</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="costobase" pInputText formControlName="costobase"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoporaccidente">Costo por Accidente</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="costoporaccidente" pInputText formControlName="costoporaccidente"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoporcharla">Costo por Charla</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="costoporcharla" pInputText formControlName="costoporcharla"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoporvisita">Costo por Visita</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="costoporvisita" pInputText formControlName="costoporvisita"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoporasesoria">Costo por Asesoria</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="costoporasesoria" pInputText formControlName="costoporasesoria"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoporasesoriaespecial">Costo Por Asesoriaespecial</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" id="costoporasesoriaespecial" pInputText formControlName="costoporasesoriaespecial"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoporpersonaextra">Costo por Personaextra</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editRut">
            <input type="text" id="costoporpersonaextra" pInputText formControlName="costoporpersonaextra" placeholder="Rut" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="cantidadDeEmpleadosPorContrato">Cantidad de Empleados por Contrato</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editName">
            <input type="text" id="cantidadDeEmpleadosPorContrato" pInputText formControlName="cantidadDeEmpleadosPorContrato" />
          </ng-template>
        </div>
      </div>
    </form>
  </div>
  <div>&nbsp;</div>
  <div class="card section">
    <div class="subTitle">
      Facturar
    </div>
    <div>&nbsp;</div>
    <form [formGroup]="form" autocomplete="off">
      <div class="formgrid grid">
        <div class="field firstType">
          <label for="startDate">Fecha Desde</label>
          <p-calendar [(ngModel)]="startDate" (ngModelChange)="checkDates()" dateFormat="dd/mm/yy" id="startDate" pInputText formControlName="startDate"
            placeholder="fecha Facturar">
          </p-calendar>
        </div>
        <div class="field firstType">
          <label for="endDate">Fecha Hasta</label>
          <p-calendar [(ngModel)]="endDate" (ngModelChange)="checkDates()" dateFormat="dd/mm/yy" id="endDate" pInputText formControlName="endDate"
            placeholder="fecha Facturar">
          </p-calendar>
        </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="field firstType">
          <label for="costoTotal">Costo Total</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" [(ngModel)]="costoTotal" id="costoTotal" pInputText formControlName="costoTotal"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoTotalAccidente">Costo Total Accidente</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" [(ngModel)]="costoTotalAccidente" id="costoTotalAccidente" pInputText formControlName="costoTotalAccidente"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoTotalCharla">Costo Total Charla</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" [(ngModel)]="costoTotalCharla" id="costoTotalCharla" pInputText formControlName="costoTotalCharla"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoTotalVisita">Costo Total Visita</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" [(ngModel)]="costoTotalVisita" id="costoTotalVisita" pInputText formControlName="costoTotalVisita"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoTotalAsesoria">Costo Total Asesoria</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" [(ngModel)]="costoTotalAsesoria" id="costoTotalAsesoria" pInputText formControlName="costoTotalAsesoria"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoTotalAsesoriaEspecial">Costo Total Asesoriaespecial</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editCellphone">
            <input type="text" [(ngModel)]="costoTotalAsesoriaEspecial" id="costoTotalAsesoriaEspecial" pInputText formControlName="costoTotalAsesoriaEspecial"
              placeholder="Numero Telefonico" />
          </ng-template>
        </div>
        <div class="field firstType">
          <label for="costoTotalPersonasExtra">Costo Total Personaextra</label>
          <ng-template [ngIf]="this.isEdit === true" [ngIfElse]="editRut">
            <input type="text" [(ngModel)]="costoTotalPersonasExtra" id="costoTotalPersonasExtra" pInputText formControlName="costoTotalPersonasExtra" placeholder="Rut" />
          </ng-template>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div>
    <div class="flex card-container green-container p-0">
      <div class="flex-1">
      </div>
      <div class="flex-1">
      </div>
      <div class="flex-1 buttonContainer">
        <button pButton class="redButton" (click)="backToTable()">Cancelar</button>
        <button pButton class="blueButton" (click)="sendFormulario()">Guardar</button>
      </div>
    </div>
  </div>
</p-card>